
    h6{ 
        background-color: rgba(0, 0, 0, 0.445);
        font-size: 25px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        text-shadow: 2px 2px 4px gold;
        transition: background-color .5s;
       }
       h6 .icon{
        color: gold;
       
       }
      h1 ion-icon{
        color: rgb(255, 253, 222);
        border-bottom: 2px solid gold;
        box-shadow: 2px 4px 6px maroon;
        border-radius: 50px;
        background-image: url(lollipop_3GIF.gif);
        background-size: cover;
        background-color: transparent;
 
      }

       h1{
        margin-top: 0%;
        font-weight: bold;
        font-size: 80px;
        color: white;
        text-shadow: 2px 2px 10px gold;
        border-bottom: 1px solid gold;
        background-color: transparent;
        letter-spacing: 2px;
        box-shadow: 5px 10px 15px darkblue;
        border-radius: 100%;
        
       }
      
       .hits-title ion-icon{
        font-size: 30px;
        color: gold;
        text-shadow: 2px 2px 4px gold;
        transition: color.5s;
        box-shadow: 2px 2px 4px gold;
        border-radius: 100%;
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        padding: 5px;
        margin: 5px;
       }
       .hits-title2 ion-icon{
        font-size: 25px;
        color: gold; 
       }
       .hits-title2{
        color: gold;
        text-shadow: 3px 3px 3px blue;
       }

    /* Using flex with the column direction to
    align items in a vertical direction */
       
    .navbar3{
      background-image: url(nikegif.gif);
      background-position: center;
      background-size: 10%;
      border-radius: 20px;
      box-shadow:2px 6px 6px lightgreen;
      border:2px solid gold;
      padding: 20px;
      bottom: 0%;
     }

      
      
      .span1{
        font-size: 50px;
        position: relative;
        color: gold;
        box-shadow:2px 3px 4px maroon;
        border: 4px solid goldenrod;
        border-radius: 20px;
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
      }
      h6, .icon{
        color: white;
        box-shadow: 2px 2px 4px gold;
        border-radius: 25px;
        
      }

    .home-btn button{
      color: gold;
      text-shadow: 2px 2px 10px gold;
      font-size: 30px;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      box-shadow: 2px 4px 10px maroon;
      border-radius: 10px;
      border: 2px solid gold;
      
    }
    .home-btn,button:hover{
     color: maroon;
     text-shadow: 2px 2px 10px gold;
     
   
    }

    .content{
      height: 30%;
      max-width: 200px;
      overflow-x: scroll;
      overflow-block: clip;
      
    }
    .content::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      font-size: 10px;
    }
    .content::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
      box-shadow: 4px 4px 10px darkblue;
      margin-block: .5em;
      padding-block: .5em;
    }
    .content::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: 2px 6px 10px gold;
    }
    .content::-webkit-scrollbar-thumb:hover {
      background: gold;
    }
    .content::-webkit-scrollbar-thumb{
      transition: background-color 0.5s ease;
    }
    .content::-webkit-scrollbar-thumb{
      background: linear-gradient(black,darkblue,lightgreen,maroon,black);
      border: 1px solid gold;    
    }
    
    
    .navigation{
      align-content: center;
      text-align: center;
      max-width: 100%;
      border: 5px solid rgba(0, 0, 139, 0.486);
      display: flex;
      overflow-x: scroll;
      border-radius: 10px;
      box-shadow: 2px 4px 10px gold;
      

    }
    
    .navigation .item{
      color: beige;
      align-items: center;
      text-align: center;
      align-content: center;
    }
    .navigation::-webkit-scrollbar{
      width: 0%;
    }
    .navigation::-webkit-scrollbar-track {
      border-radius: 10px;
      border-bottom: 5px solid rgba(128, 0, 0, 0.548);
      margin-block: .5em;
      padding-block: .5em;
    }
    .navigation::-webkit-scrollbar::-ms-thumb{
      background-color: darkblue;
      border-radius: 20px;
      
    }
    .navigation .item {
      font-size: 50px;
    }

    .navigation::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: 2px 2px 10px lightgreen;
    }
    .navigation::-webkit-scrollbar-thumb:hover {
      background: lightgreen;
    }
    .navigation::-webkit-scrollbar-thumb{
      transition: background-color 0.5s ease;
    }
    .navigation::-webkit-scrollbar-thumb{
      background: linear-gradient(maroon,black,blue);
      border: 2px solid gold;    
    }
    

    .navigation .team9{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(chrisaquiabajopic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkblue;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .team9:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px maroon;
    }
 
    .navigation div ion-icon{
       padding: 20px;
       font-weight: bold;
       font-size: 20px;
       color: gold;
       box-shadow: 2px 2px 10px  transparent;
       border-radius: 10px;
       
    }
    .navigation div ion-icon:hover{
       background-color: gold;
       color: darkblue;
       text-shadow: 2px 2px 10px gold;
       box-shadow: 2px 6px 10px lightgreen;
       border-radius: 50px;
       transform: scale(1.1);
    }