/* Style.css */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  border-radius: 20px;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid gold;
  background: linear-gradient(to right,black,black,darkblue,lightgreen,maroon,black,black);

}

.gfg {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  color: #01940b;
  align-items: center;
  
}

.video-container {
  max-width: 500px;
  max-height: 300px;
  position: relative;
  border: 3px solid gold;
  border-radius: 5px;
  box-shadow: 4px 6px 10px darkmagenta;
  border-style: ridge;
  margin: 0 auto;
  background-image: url(lollipop_4444GIF.gif);
  background-position: center;
  background-size: cover;
}

#video-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

#video,
img {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(
      0,
      0,
      0,
      0.7
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-image: url(lollipop_4444GIF.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border-bottom: 2px solid darkmagenta;
}

.controls button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.left {
  position: relative;
  top: 1%;
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.video-timer {
  position: relative;
  top: 5.2px;
  right: 6px;
  display: flex;
  flex-direction: row;
  color: #efefef;
  margin-left: 15px;
  font-size: 12px;
}

#separator {
  margin: 0 5px;
  font-size: 16px;
  font-family: "Open sans";
}

.right {
  position: relative;
  padding: 10px;
  top: 1.5px;
}

.fa-volume-up,
.fa-solid {
  font-size: small;
  padding: 5px;
  color: rgb(255, 255, 255);
}

button,
input {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.volume-container {
  display: flex;
  align-items: center;
}

#volume {
  position: relative;
  left: 5px;
  width: 50px;
  height: 3px;
}

#mute {
  cursor: pointer;
}

.playback-line {
  position: relative;
  top: 2.7px;
  height: 4px;
  background-color: #ddd;
  width: 40%;
  cursor: pointer;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #0078d4;
  transition: width 0.1s linear;
}

h1 {
  border: 2px solid gold;
  background-image: url(lollipop_4444GIF.gif);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border-radius: 50px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px gold;
  letter-spacing: 2px;
}
label {
  display: block;
  margin-bottom: 5px;
}
label {
  display: block;
  margin-bottom: 5px;
}
#italic{
  font-style: italic;  
  color: #bb0c80bd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
 }

 #submit {
     font-weight: bold;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 35vh;
      padding: 5px;
      border-radius: 15px;
      background-image: url(lollipop_4444GIF.gif);
      background-size: cover;
      background-position: center;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: beige;
      text-shadow: 2px 2px 4px gold;
      border: 2px solid gold
      
  }
  #submit:hover{
     color: gold;
     text-shadow: 2px 2px 4px darkmagenta;
  }
  #jj{
     font-size: 25px;
     color: gold;
     outline-color: darkgray;
     padding: 0%;
     margin-top: 10px;
     margin-bottom: 10px;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
     text-shadow: 2px 2pX 4px darkmagenta;
  }
  #jj:hover{
    color: white;
    text-shadow:2px 2px 4px gold;
  }
  #submit:active:focus-within{
     background-color: gold;
     color: #fff;
  }
  
  #italic{
     color: gold;
     text-shadow:2px 2px 6px darkmagenta;
     font-weight: bold;
     
    
  }
  #italic:hover{
      color: white;
      text-shadow: 3px 2px 5px gold;
    
  }
  h1{
     font-size: 40px;
     color: white;
     margin-bottom: 20px;
     text-shadow: 2px 2px 4px gold;
     display: flex;
     border-radius: 200%;
     justify-content: center;
     padding: 10px 0 10px 0;
     margin-bottom: 20px;
     letter-spacing: 2px;
     
  }

  b p{
     text-shadow: 2px 2px 4px gold;
     color: white;
  }
  #jj, p ion-icon{
      font-size: 15px;
      text-align: center;
      color: darkgray;
      margin-right: 10px;
      text-shadow: 2px 2px 4px magenta;
      box-shadow: 2px 2px 4px darkmagenta;
      cursor: pointer;
      transition: color 0.3s ease;
      transition: text-shadow 0.3s ease;
      border-bottom: 1px solid magenta;
      box-shadow: 2px 2px 6px gold;
      border-radius: 10px;
      font-style: oblique;
    
  
  }
  p ion-icon{
      background-image: url(lollipop_4444GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  p ion-icon:hover{
      color: darkmagenta;
      text-shadow: 3px 2px 5px gold;
  }
  h1 ion-icon{
      border-bottom: 2px solid gold;
      box-shadow: 2px 4px 6px darkmagenta;
      border-radius: 30px;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  h6{
      background-image: none;
      font-size: 16px;
      color: white;
      text-shadow: 2px 2px 4px gold;
      background-color: rgba(139, 0, 139, 0.507);
      border-bottom: 2px solid goldenrod;
      box-shadow: 2px 2px 6px gold;
      font-weight: bold;
      font-style: oblique;
      
  }
  .pvid{
      text-shadow: 2px 2px 4px gold;
      color: white;
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid gold;
      box-shadow: 2px 4px 6px darkmagenta;
      border-radius: 100%;
      background-color: #151515;
      font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .home-btn2 a button{
      font-size: 25px;
      color:goldenrod;
      box-shadow: 2px 4px 10px darkmagenta;
      border-radius: 10px;
      width: 20%;
      background-image: url(lollipop_4444GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .home-btn2 a button:hover{
      background-image: none;
     color: darkmagenta; 
     background-image: url(byegif.gif);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     text-shadow: 2px 2px 10px gold;
     border: 1px solid gold;
     cursor: pointer;
     box-shadow: 2px 2px 4px gold;
    
     
   
    }
    span ion-icon{
      margin-top: 20px;
      font-size: 25px;
      color: gold;
      text-shadow: 2px 4px 10px darkmagenta;
      background-image: url(lollipop_4444GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 200%;
      width: 20%;
      box-shadow: 2px 4px 10px darkmagenta;
      border: 1px solid gold;
      cursor: pointer;
      margin-bottom: 20px;

    }
    p a{
      color: white;
      text-shadow: 2px 2px 4px gold;
      font-weight: bold;
      text-decoration: none;
      border: 2px solid gold;
      width: 30%;
      padding: 4px;
      box-shadow: 2px 2px 4px darkmagenta;
      border-radius: 20px;
      text-align: center;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #151515;
     
    }
    p a:hover{
      color: gold;
      box-shadow:2px 2px 4px gold;
    }
    p a ion-icon{
      box-shadow: none;
    }
    div button a{
      color: white;
      text-shadow: 2px 2px 4px gold;
      font-size: 18px;
      text-decoration: none;
      border: 2px solid gold;
      box-shadow: 2px 2px 4px darkmagenta;
      border-radius: 20px;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #151515;
      padding: 2px;
    }
    div button a:hover{
      color: gold;
      box-shadow:2px 2px 4px gold;
    }
    
    .navigation .vdp2{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(karolgsiantePIC.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp2:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }
    .navigation .vdp3{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(este_pic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp3:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }
    
    .navigation .vdp4{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(lainsumeliberePic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp4:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }

    .navigation .vdp5{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image: url(elalfadorayouPic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp5:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }
    .navigation .vdp6{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(pesoplumapic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp6:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }
    .navigation .vdp7{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(arcangelsechpicc.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp7:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }
    .navigation .vdp8{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(milliondaollarPIC2222.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp8:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }
    .navigation .vdp9{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(GUAYETEOPICCC.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp9:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }
    .navigation .vdp10{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(BigXactivePic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp10:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }
    .navigation .vdp11{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(malucarinsequienpic1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid gold;
      box-shadow: 2px 2px 10px darkmagenta;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp11:hover{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #171a1d;
      color: darkmagenta;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px darkmagenta;
    }







    body{
      height: 100dvh;
      position: center;
      background-color: #151618;
      background-position: center;
      align-items: center;
      text-align: center;
      border: 20px solid #151618;
      box-shadow: 2px 2pc 4px gold;
      border-radius: 50px;
      font-size: 100%;
      align-content: center;
      font-family:'Times New Roman', Times, serif
      }
      h6{
          font-size: 25px;
          font-weight: bold;
          font-family: 'Times New Roman', Times, serif;
          color: white;
          text-shadow: 2px 2px 4px gold;
          transition: background-color .5s;
         }
         h6 .icon{
          color: gold;
         
         }
        
        h1 ion-icon{
          color: rgb(255, 253, 222);
          border-bottom: 2px solid gold;
          box-shadow: 2px 4px 6px darkmagenta;
          border-radius: 50px;
          background-image: url(lollipop_3GIF.gif);
          background-size: cover;
          background-color: transparent;
   
        }
  
         h1{
          background: linear-gradient(to right,black,black,darkblue,lightgreen,maroon,black,black);
          font-weight: bold;
          font-size: 80px;
          color: white;
          text-shadow: 2px 2px 10px gold;
          border-bottom: 1px solid gold;
          background-color: transparent;
          letter-spacing: 2px;
          box-shadow: 5px 15px 15px maroon;
          border-radius: 100%;
          
         }
       
         .hits-title{
          background-image: url(MAGENTAFIREGIF.webp);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          color: gold;
          text-shadow: 2px 2px 4px blue;
          font-weight: bold;
          font-size: 40px;
          box-shadow: 2px 2px 4px gold;
        }
        
         .hits-title2{
          background-image: url(GUITARGIF1.gif);
          background-position: center;
          background-size: cover;
         }
         .hits-title ion-icon{
          font-size: 30px;
          color: gold;
          text-shadow: 2px 2px 4px gold;
          transition: color.5s;
          box-shadow: 2px 2px 4px gold;
          border-radius: 100%;
          background-image: url(lollipop_4444GIF.gif);
          background-position: center;
          background-size: cover;
          padding: 5px;
          margin: 5px;
  
          
         
         
         }
         .hits-title ion-icon:hover{
          color: darkmagenta;
          text-shadow: 2px 2px 4px gold;
         }
         .hits-title2 ion-icon{
          font-size: 25px;
          color: gold; 
         }
         .hits-title2 ion-icon:hover{
          color: darkmagenta;
          text-shadow: 2px 2px 4px gold; 
         }
         .hits-title2{
          color: gold;
          text-shadow: 3px 3px 3px blue;
         }
  
      /* Using flex with the column direction to
      align items in a vertical direction */
      .player {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: whitesmoke;
      text-shadow: 2px 2px 4px gold;
      transition: background-color .5s;
      }
      
      .details {
      font-size: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: black;
      text-shadow: 2px 2px 4px gold;
      }
      
      .track-art {
      height: 250px;
      width: 250px;
      background-image: URL(
          "https://source.unsplash.com/Qrspubmx6kE/640x360");
      background-size: cover;
      background-position: center;
      border-radius: 100%;
      }
      .track-art{
          box-shadow: 2px 2px 4px goldenrod;
          border: 0.8em #171a1d solid;
          box-shadow: 0.8em 0.8em 1.8em #151618,
                      -0.8em -0.8em 1em #33353b;
      }
      .track-art:hover{
          box-shadow: 1px 2pc 1px goldenrod;
          transform: scale(1.05);
      }
      
      /* Changing the font sizes to suitable ones */
      .now-playing {    
      font-size: 1.3rem;
      color: white;
      }
      
      .track-name {
      font-weight: bold;
      text-shadow: 2px 5px 4px gold;    
      font-size: 3.5rem;
      }
      
      .track-artist {
      font-size: 1.8rem;
      font-weight: bold;
      text-shadow: 2px 2px 4px gold;
      }
      
      /* Using flex with the row direction to
      align items in a horizontal direction */
      .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      }
      
      .playpause-track,
      .prev-track,
      .next-track {
      padding: 25px;
      opacity: 0.8;
      
      /* Smoothly transition the opacity */
      transition: opacity .2s;
      }
      
      /* Change the opacity when mouse is hovered */
      .playpause-track:hover,
      .prev-track:hover,
      .next-track:hover {
      opacity: 1.0;
      }
      
      /* Define the slider width so that it scales properly */
      .slider_container {
      width: 75dvh;
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      
      /* Modify the appearance of the slider */
      .seek_slider, .volume_slider {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 5px;
      background: black;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      }
      
      /* Modify the appearance of the slider thumb */
      .seek_slider::-webkit-slider-thumb,
      .volume_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: white;
      cursor: pointer;
      border-radius: 50%;
      }
      
      /* Change the opacity when mouse is hovered */
      .seek_slider:hover,
      .volume_slider:hover {
      opacity: 1.0;
      }
      
      .seek_slider {
      width: 60%;
      }
      
      .volume_slider {
      width: 30%;
      }
      
      .current-time,
      .total-duration {
      padding: 10px;
      }
      
      i.fa-volume-down,
      i.fa-volume-up {
      padding: 10px;
      }
      
      /* Change the mouse cursor to a pointer
      when hovered over */
      i.fa-play-circle,
      i.fa-pause-circle,
      i.fa-step-forward,
      i.fa-step-backward {
      cursor: pointer;
      color: black;
      }
      .navbar{
          background-image: url(MADDANCINGPIC.gif);
          background-position: top;
          border-radius: 20px;
          box-shadow:2px 2px 4px gold;
          border:2px solid #33353b;
          padding: 2%;
          bottom: 0%;
      }
      .navbar1{
          background-image: url(BRANDSGIFF1.gif);
          background-position: center;
          border-radius: 20px;
          border:2px solid gold;
          box-shadow:2px 2px 4px gold;
          padding: 1%; 
          bottom: 0%;
      }
      .navbar2{
          background-image: url(MADDANCINGPIC.gif);
          background-position: center;
          border-radius: 20px;
          box-shadow:2px 2px 4px gold;
          border:2px solid #33353b;
          padding: 2%;
          bottom: 0%; 
      
      }
         
      .navbar3{
        background-image: url(nikegif.gif);
        background-position: center;
        background-size: 10%;
        border-radius: 20px;
        box-shadow:2px 6px 6px darkmagenta;
        border:2px solid gold;
        padding: 20px;
        bottom: 0%;
       }
  
        #sidebar{
          font-weight: bold;
          position: absolute;
          width: 300px;
          height: 60%;
          border-radius: 30px;
          left: -300px;
          transition: .4s;
        }
  
        #sidebar ul li{
          color: beige;
          text-shadow: 2px 2px 4px gold;
          font-weight: bold;
          margin: 10px;
          padding: 10px;
         
            
          
        }
        li a{
          color: beige;
          text-shadow: 6px 6px 10px darkmagenta;
          transition: color 0.5s ease;
          background-image: url(lollipop_4444GIF.gif);
          background-position: center;
          background-size: cover;
          font-size: 25px;
          font-weight: bold;
          box-shadow: 2px 6px 6px gold;
          border-radius: 100%;
          padding: 10px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          border: none; 
          text-decoration: none;
        }
        
  
        #sidebar .toggle-btn {
          position: absolute;
          left: 330px;
        }
        .toggle-btn:hover{
            color: darkmagenta;
            text-shadow: 2px 2px 4px gold;
            box-shadow: 3px 3px 10px darkmagenta;
            transform: scale(1.10);
            transition: 0s;
            border-radius: 20px;
          }
        #sidebar.active {
          left: 0%;
        }
        
        .span1{
          font-size: 50px;
          position: relative;
          color: gold;
          box-shadow:2px 3px 4px darkmagenta;
          border: 4px solid goldenrod;
          border-radius: 20px;
          background-image: url(lollipop_4444GIF.gif);
          background-position: center;
          background-size: cover;
        }
        .span1:hover{
          color: darkmagenta;
          text-shadow: 2px 2px 4px gold;
          box-shadow: 3px 3px 10px darkmagenta;
          transform: scale(1.05);
          transition: 0s;
        }
        h6, .icon{
          color: white;
          box-shadow: 2px 2px 4px gold;
          border-radius: 25px;
          background-image: url(lollipop_4444GIF.gif);
          background-size: cover;
          background-position: center;
        }
  
        .dropdown{
          align-items: center;
          align-content: space-between;
          display: inline-block;
      }
      .dropdown.active{
        right:0%;
      }
      .dropdown button{
          object-position: left;
          box-shadow: 2px 4px 6px darkmagenta;
          font-size: 30px;
          font-weight:bolder;
          background-image: url(lollipop_4444GIF.gif);
          background-position: center;
          background-size: cover;
          color: gold;
          padding: 10px 15px;
          border: 4px solid goldenrod;
          border-radius: 20px;
          cursor: pointer;
          transition: 0s;
      }
      .dropdown a{
          box-shadow: 2px 3px 10px gold;
          font-size: 20px;
          text-align: center;
          width: 175px;
          height: 10dvh;
          display: block;
          color: black;
          text-decoration: none;
          padding: 5px 5px;
          transition: 0s;
      }
      .dropdown .content{
          transition-duration: 0s;
          display: none;
          position: absolute;
          width: 100%;
          border: 2px solid gold;
          border-radius: 10px;
          box-shadow: 4px 4px 10px darkmagenta;
      }
      .dropdown:hover .content{
          display: block;
      }
      .dropdown:hover button{
        color: darkmagenta;
        text-shadow: 2px 2px 4px gold;
        box-shadow: 3px 3px 10px darkmagenta;
        transform: scale(1.10);
        transition: 0s;
      }
      .dropdown a:hover{
          color: darkmagenta;
          text-shadow: 3px 3px 10px darkmagenta;
          transition: 0.5s;
      }
      .g-btn:hover{
          background-color: gold;
          color: white;
      }
      .dropdown a{
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: bold;
          font-size: 25px;
          color: gold;
          text-shadow:2px 2px 6px darkmagenta;
          border: 2px solid gold;
          box-shadow: 2px 4px 10px black;
          background-color: transparent;
          border-radius: 20px;
          text-decoration: none;
          display: block;
          z-index: 999;
      }
      .dropdown li a:hover{
        color: beige;
        text-shadow: 3px 2px 10px gold;
        background-color: transparent;
      }
      .li a{
        background-image: url(ADONISALAPIC.jpg);
        background-position: top;
        background-size: cover;
        border-radius: 20px;
      }
      .li1 a{
        background-image: url(googlelog.gif);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      .li2 a{
        background-image: url(NBC2pic.png);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        
      }
      .li3 a{
        background-image: url(NETFLIXPIC.png);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        
      }
      .li4 a{
        background-image: url(PLUTOTVPIC.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        
      }
      li i:hover{
        color: darkmagenta;
        transition: 0.5s;
  
      }
      .li a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li1 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li2 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
  
     .li3 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li4 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .logo-tiktok{
        font-size: 32px;
        color:beige;
        box-shadow: 2px 3px 10px gold;
        border-radius: 50%;
      }
      .logo-tiktok:hover{
        background-color: gold;
        color: darkmagenta;
        text-shadow: 2px 2px 10px goldenrod;
      }
      .li5 a{
        background-image: url(itunespic222.gif);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        
      }
      .li5 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li6 a{
        background-image: url(SALSAPIC2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      .li6 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li7 a{
        background-image: url(BACHATAPIC.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      .li7 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li8 a{
        background-image: url(REGGAETONPICCC11.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      .li8 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li9 a{
        background-image: url(RANCHERASPIC1.jpg);
        background-position: top;
        background-size: cover;
        border-radius: 20px;
      }
      .li9 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li10 a{
        text-align: center;
        background-image: url(HIPHOPPIC.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li10 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .home-btn button{
        color: gold;
        text-shadow: 2px 2px 10px gold;
        font-size: 30px;
        background-image: url(lollipop_4444GIF.gif);
        background-position: center;
        background-size: cover;
        box-shadow: 2px 4px 10px darkmagenta;
        border-radius: 10px;
        border: 2px solid gold;
        
      }
      .home-btn,button:hover{
       color: darkmagenta;
       text-shadow: 2px 2px 10px gold;
       
     
      }
      .li11 a{
        text-align: center;
        background-image: url(mambopic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li11 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li12 a{
        text-align: center;
        background-image: url(DEMBOWPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li12 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li13 a{
        text-align: center;
        background-image: url(airbnbpicccc.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li13 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li14 a{
        font-size: 30px;
        text-align: center;
        background-image: url(wheatherpic222.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li14 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
  
      .content{
        height: 30%;
        max-width: 200px;
        overflow-x: scroll;
        overflow-block: clip;
        
      }
      .content::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        font-size: 10px;
      }
      .content::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
        box-shadow: 4px 4px 10px darkmagenta;
        margin-block: .5em;
        padding-block: .5em;
      }
      .content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: 2px 6px 10px gold;
      }
      .content::-webkit-scrollbar-thumb:hover {
        background: gold;
      }
      .content::-webkit-scrollbar-thumb{
        transition: background-color 0.5s ease;
      }
      .content::-webkit-scrollbar-thumb{
        background: linear-gradient(darkmagenta,black,blue);
        border: 1px solid gold;    
      }
      header{
        position: initial;
        align-items: center;
        background-color: transparent;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        
      }
      header li{
        align-items: center;
        list-style: none;
        display: inline-block;
        
      }
      header a{
        color: crimson;
        text-shadow: 6px 6px 10px darkmagenta;
        transition: color 0.5s ease;
        background-image: url(byegif.gif);
        background-position: center;
        background-size: cover;
        font-size: 30px;
        font-weight: bold;
        margin: 10px;
        box-shadow: 2px 6px 6px crimson;
        border-radius: 100%;
        padding: 10px;
        border: 4px solid gold;
       
        
           
      }
       header a:hover{
        color: red;
        box-shadow: 2px 6px 6px red;
        border: 4px solid red;
         
      }
     
      .dropdown a ion-icon{
        font-size: 30px;
        align-content: center;
        color: gold;
        border-radius: 20px;
        text-shadow: 2px 2px 4px gold;
        box-shadow: 2px 2px 4px gold;
        background-image: url(lollipop_4444GIF.gif);
        background-position: center;
        background-size: cover;
        text-decoration: none;
      }
      .dropdown a ion-icon:hover{
        color: darkmagenta;
        text-shadow: 2px 2px 4px gold;
        transition: color 0.5s ease;
      }
      .dropdown ion-icon{
        font-size: 35px;
      }
      
      .navigation{
        align-content: center;
        text-align: center;
        max-width: 100%;
        border: 1px solid gold;
        display: flex;
        overflow-x: scroll;
        border-radius: 10px;
        box-shadow: 2px 4px 10px gold;
        background-image: url(MAGENTAFIREGIF.webp);
        background-position: center;
        background-size: cover;
  
      }
      
      .navigation .item{
        color: beige;
        align-items: center;
        text-align: center;
        align-content: center;
      }
      .navigation::-webkit-scrollbar{
        width: 0%;
      }
      .navigation::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: 4px 4px 10px gold;
        border-bottom: 2px solid black;
        margin-block: .5em;
        padding-block: .5em;
      }
      .navigation::-webkit-scrollbar::-ms-thumb{
        background-color: darkmagenta;
        border-radius: 20px;
        box-shadow: 2px 2px 4px gold;
      }
  
      .navigation .item:hover{
        background-color: gold;
      }
      .navigation .item:hover ion-icon{
        color: darkmagenta;
        text-shadow: 2px 2px 4px gold;
      }
      .navigation .item {
        font-size: 50px;
      }
  
      .navigation::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: 2px 2px 10px gold;
      }
      .navigation::-webkit-scrollbar-thumb:hover {
        background: gold;
      }
      .navigation::-webkit-scrollbar-thumb{
        transition: background-color 0.5s ease;
      }
      .navigation::-webkit-scrollbar-thumb{
        background: linear-gradient(darkmagenta,black,blue);
        border: 2px solid gold;    
      }
      
      .navigation .team6{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(karolgsiantePIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team6:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
  
      .navigation .mlb{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(carinleonchimbacarlospic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .mlb:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
      .navigation .team1{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image: url(panamiopic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team1:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
  
      .navigation .nba{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(rochyyalohicepiccc.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .nba:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
  
      .navigation .team8{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(fogobackPic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team8:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
      .navigation .team3{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(BULINCEKYPIC.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team3:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
  
      .navigation .team2{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(babygringopic1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team2:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
      .navigation .team9{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(chrisaquiabajopic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team9:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
  
      .navigation .team7{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(lainsumeliberePic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team7:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
  
      }
     
      .navigation .team5{
        font-weight: bold;
        text-align: center;
        align-content: center;
        background-image:url(miesquinaremixpicc.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid gold;
        box-shadow: 2px 2px 10px darkmagenta;
        border-radius: 10px;
        margin: 5px;
        padding: 50px;
      }
      .navigation .team5:hover{
        background-image: url(lollipop_3GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171a1d;
        color: darkmagenta;
        text-shadow: 2px 2px 10px gold;
        box-shadow: 2px 2px 10px darkmagenta;
      }
      
      
      .navigation div ion-icon{
         padding: 20px;
         font-weight: bold;
         font-size: 20px;
         color: gold;
         box-shadow: 2px 2px 10px  transparent;
         border-radius: 10px;
         
      }
      .navigation div ion-icon:hover{
         background-color: gold;
         color: darkmagenta;
         text-shadow: 2px 2px 10px gold;
         box-shadow: 2px 6px 10px darkmagenta;
         border-radius: 50px;
         transform: scale(1.1);
      }
  
      .li15 a{
        font-size: 30px;
        text-align: center;
        background-image: url(USOPENGIF.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li15 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
  
      .li16 a{
        font-size: 30px;
        text-align: center;
        background-image: url(MLB\ GIF.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li16 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li17 a{
        font-size: 30px;
        text-align: center;
        background-image: url(FIFA.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li17 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li18 a{
        font-size: 30px;
        text-align: center;
        background-image: url(NBAGIFF.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li18 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li19 a{
        font-size: 30px;
        text-align: center;
        background-image: url(EUROCUPGIF.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li19 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li20 a{
        font-size: 30px;
        text-align: center;
        background-image: url(UFCLOGOGIF.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li20 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li21 a{
        font-size: 30px;
        text-align: center;
        background-image:url(NFLPIC.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li21 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li22 a{
        font-size: 30px;
        text-align: center;
        background-image: url(formula1pic.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li22 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li23 a{
        font-size: 30px;
        text-align: center;
        background-image: url(motogpicccc.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li23 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li24 a{
        font-size: 30px;
        text-align: center;
        background-image: url(nascarpic1.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li24 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li25 a{
        font-size: 30px;
        text-align: center;
        background-image: url(pgalogo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li25 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li26 a{
        font-size: 30px;
        text-align: center;
        background-image: url(nhlpic.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li26 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li27 a{
        font-size: 30px;
        text-align: center;
        background-image: url(videocampicc2222.jpg);
        background-color:black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
      }
      .li27 a:hover{
        background-color: gold;
        color: beige;
        text-shadow: 2px 2px 10px goldenrod;
        transition: 1s;
      }
      .li27 a ion-icon{
        color: gold;
        background-image: url(lollipop_4444GIF.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }