/* Style.css */
* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  background-position: center;
  align-items: center;
  text-align: center;
  border: 1px solid blue;
  border-radius: 50px;
  font-size: 100%;
  background:linear-gradient(to right,black,black,darkblue,lightgreen,maroon,black,black);
  align-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

.gfg {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  color: lightgreen;
  align-items: center;
  
}

.video-container {
  max-width: 500px;
  max-height: 300px;
  position: relative;
  border: 2px solid blue;
  border-radius: 5px;
  box-shadow: 2px 2px 15px maroon;
  border-style: ridge;
  margin: 0 auto;
  background-image: url(lollipop_3GIF.gif);
  background-position: center;
  background-size: cover;
}

#video-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

#video,
img {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(
      0,
      0,
      0,
      0.7
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-image: url(lollipop_3GIF.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 2px solid maroon;
}

.controls button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.left {
  position: relative;
  top: 1%;
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.video-timer {
  position: relative;
  top: 5.2px;
  right: 6px;
  display: flex;
  flex-direction: row;
  color: #efefef;
  margin-left: 15px;
  font-size: 12px;
}

#separator {
  margin: 0 5px;
  font-size: 16px;
  font-family: "Open sans";
}

.right {
  position: relative;
  padding: 10px;
  top: 1.5px;
}

.fa-volume-up,
.fa-solid {
  font-size: small;
  padding: 5px;
  color: rgb(255, 255, 255);
}

button,
input {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.volume-container {
  display: flex;
  align-items: center;
}

#volume {
  position: relative;
  left: 5px;
  width: 50px;
  height: 3px;
}

#mute {
  cursor: pointer;
}

.playback-line {
  position: relative;
  top: 2.7px;
  height: 4px;
  background-color: #ddd;
  width: 40%;
  cursor: pointer;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: darkblue;
  transition: width 0.1s linear;
}

h1 {
  margin-top: 0;
  border: 2px solid gold;
  border-radius: 50px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px gold;
  letter-spacing: 2px;
}
label {
  display: block;
  margin-bottom: 5px;
}
label {
  display: block;
  margin-bottom: 5px;
}
#italic{
  font-style: italic;  
  color: maroon;
  box-shadow: 0 0 10px gold;
  
 }

 #submit {
     font-weight: bold;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 35vh;
      padding: 5px;
      border-radius: 15px;
      background-image: url(lollipop_3GIF.gif);
      background-size: cover;
      background-position: center;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: beige;
      text-shadow: 2px 2px 4px gold;
      border: 2px solid gold
      
  }
  #submit:hover{
     color: maroon;
  }
  #jj{
    margin-top: 10px;
     font-size: 25px;
     color: gold;
     padding: 2px 4px 4px;
     background-image: url(MusicGig.gif);
     background-position: center;
     background-size: 10%;
  }

  #submit:active:focus-within{
     background-color: gold;
     color: #fff;
  }
  
  #italic{
     color: gold;
     text-shadow:2px 2px 6px maroon;
     font-weight: bold;
     
    
  }
  #italic:hover{
      color: white;
      text-shadow: 3px 2px 5px gold;
    
  }
  h1{
     margin-top: 0;
     font-size: 40px;
     color: white;
     margin-bottom: 20px;
     text-shadow: 2px 2px 4px gold;
     display: flex;
     border-radius: 200%;
     justify-content: center;
     padding: 10px 0 10px 0;
     margin-bottom: 15px;
     letter-spacing: 2px;
     
  }

  b p{
     text-shadow: 2px 2px 4px gold;
     color: white;
  }
  #jj, p ion-icon{
      font-size: 15px;
      text-align: center;
      color: gold;
      margin-right: 10px;
      text-shadow: 2px 2px 4px gold;
      box-shadow: 2px 2px 4px maroon;
      cursor: pointer;
      transition: color 0.3s ease;
      transition: text-shadow 0.3s ease;
      border-bottom: 1px solid blue;
      box-shadow: 2px 2px 6px gold;
      border-radius: 10px;
      font-style: oblique;
    
  
  }
  p ion-icon{
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  h1 ion-icon{
      border-bottom: 2px solid gold;
      box-shadow: 2px 4px 6px maroon;
      border-radius: 30px;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  h6{
      background-image: none;
      font-size: 16px;
      color: white;
      text-shadow: 2px 2px 4px gold;
      background-color: rgba(0, 0, 0, 0.445);
      border-bottom: 1px solid blue;
      box-shadow: 2px 2px 6px lightgreen;
      font-weight: bold;
      font-style: oblique;
      
  }
  .pvid{
      text-shadow: 2px 2px 4px gold;
      color: white;
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid blue;
      box-shadow: 2px 4px 6px lightgreen;
      border-radius: 100%;
      background-color: #151515;
      font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .home-btn2 a button{
      font-size: 25px;
      color:rgba(255, 217, 0, 0.582);
      box-shadow: 2px 4px 10px blue;
      border-radius: 10px;
      width: 20%;
      background-image: url(MusicGig.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .home-btn2 a button:hover{
     color: gold; 
     border: 1px solid gold;
     cursor: pointer;
     box-shadow: 3px 5px 30px gold;
    
     
   
    }
    span ion-icon{
      margin-top: 20px;
      font-size: 25px;
      color: white;
      text-shadow: 2px 4px 10px gold;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 200%;
      width: 20%;
      box-shadow: 2px 4px 10px maroon;
      border: 1px solid gold;
      cursor: pointer;
      margin-bottom: 20px;

    }
    p a{
      color: white;
      text-shadow: 2px 2px 4px gold;
      font-weight: bold;
      text-decoration: none;
      border: 2px solid gold;
      width: 30%;
      padding: 4px;
      box-shadow: 2px 2px 4px maroon;
      border-radius: 20px;
      text-align: center;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #151515;
     
    }
    p a:hover{
      color: gold;
      box-shadow:2px 2px 4px gold;
    }
    p a ion-icon{
      box-shadow: none;
    }
    div button a{
      color: white;
      text-shadow: 2px 2px 4px gold;
      font-size: 18px;
      text-decoration: none;
      border: 2px solid gold;
      box-shadow: 2px 2px 4px maroon;
      border-radius: 20px;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #151515;
      padding: 2px;
    }
    div button a:hover{
      color: gold;
      box-shadow:2px 2px 4px gold;
    }
    
    .navigation .vdp2{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(karolgsiantePIC.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp2:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    .navigation .vdp3{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(este_pic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp3:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    
    .navigation .vdp4{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(lainsumeliberePic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp4:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }

    .navigation .vdp5{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image: url(elalfadorayouPic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp5:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    .navigation .vdp6{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(pesoplumapic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp6:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    .navigation .vdp7{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(arcangelsechpicc.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp7:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    .navigation .vdp8{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(anuelshampooPic11.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp8:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    .navigation .vdp9{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(GUAYETEOPICCC.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp9:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    .navigation .vdp10{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(darrellolpic.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp10:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    .navigation .vdp11{
      font-weight: bold;
      text-align: center;
      align-content: center;
      background-image:url(malucarinsequienpic1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid lightblue;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 10px;
      margin: 5px;
      padding: 50px;
    }
    .navigation .vdp11:hover{
      color: darkblue;
      text-shadow: 2px 2px 10px gold;
      box-shadow: 2px 2px 10px lightgreen;
    }
    #jj{
      background-color: rgba(0, 0, 0, 0.39);
    }
    .artist-name{
      color: gold;
      text-shadow: 2px 2px 4px blue;
      background-color: rgba(0, 0, 0, 0.438);
      padding: 5px 10px;
      margin: 5px;
      border-radius: 100%;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 2px;
      border: 1px solid darkblue;
      box-shadow: 2px 2px 10px gold;
      transition: all 0.3s ease;
      cursor: pointer;
      position: relative;
      background-image: url(lollipop_3GIF.gif);
      background-position: center;
      background-size: 40%;
      background-repeat: no-repeat;
    }
     .song-details{
      color: white;
      text-shadow: 2px 2px 4px gold;
      letter-spacing: 1px;
      background-color: rgba(0, 0, 0, 0.438);
      padding: 10px;
      margin: 5px;
      box-shadow: 2px 2px 10px lightgreen;
      border-radius: 20px;
     }
     .footer2{
      border: 1px solid blue;
      margin-top: 10px;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.2);
      background-image: url(nikegifff222222.gif);
      background-position: center;
      border-radius: 10px;
      box-shadow: 2px 2px 10px lightblue;

     }
     .advideos{
      border: 1px solid blue;
      margin-top: 10px;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.2);
      background-image: url(RedBull-Monster-Brand-Colour-Swap.webp);
      background-position: center;
      background-size: 50%;
      border-radius: 10px;
      box-shadow: 2px 2px 10px lightblue;
     }
    

